<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand"><img src="images/logo.png" alt="Dispute Bills"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a style="cursor:pointer;" onclick="changeHtmlPage('page-content', 'home.html');">HOME</a></li>
				<li><a style="cursor:pointer;" onclick="changeHtmlPage('page-content', 'chatpopup.html');">REGISTER</a></li>
				<li><a style="cursor:pointer;" onclick="changeHtmlPage('page-content', 'product.html');">PRODUCT</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">SERVICES<b class="caret"></b></a>
					<ul class="dropdown-menu">
					   
					</ul>
				</li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">CONTACT</a></li>
			</ul>
			<form class="navbar-form navbar-right" role="search" >
				<a onclick="changeHtmlPage('page-content', 'login.html');" class="btn btn-primary" style="cursor:pointer;" >Sign in</a>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><span class="glyphicon glyphicon-credit-card"></span> Profile</a></li>
						<li><a href="#"></span><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
						<li><a href="#"><span class="badge pull-right"></span><span class="glyphicon glyphicon-usd"></span> Pay</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>