<hr>
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Chagyza &middot; <a href="www.facebook.com">Facebook</a> &middot; <a href="plug.google.com" >Google+</a></p>
        </div>
    </div>
</footer>

</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="style/js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="style/js/bootstrap.js"></script>
<script src="style/js/widgets.js"></script>
<script src="style/js/holder.js"></script>

<script src="style/js/application.js"></script>


</body>
</html>