<div id="gridContainer">
    <div class="row col-sm-offset-0 col-md-8 col-md-offset-2">
        <div class="col-sm-9">
            <div>
                <label>X: <input type="text" size="3" id="newX"></label>
                <label>Y: <input type="text" size="3" id="newY"></label>
                <input id="btnCreate" type="button" value="CREATE">
            </div>



        </div>
        <div class="col-sm-9">
            No: <select name="updateNo" id="updateNo"></select>
            <label>X: <input type="text" size="3" id="updateX"></label>
            <label>Y: <input type="text" size="3" id="updateY"></label>
            <input id="btnUpdate" type="button" value="UPDATE">
        </div>

        <div class="col-sm-9">
            <div style="border: 1px solid red;position: absolute;" id="box"></div>
            <!-- contains all the items and item description -->
            <div id="allItems"></div>
        </div>

    </div>
</div>