<div class="panel">
    <div id="gridContainer">
        <div class="row vertical-center-row">
            <div style="border:4px solid #ffaa56;background-color:#fff; color:#000; font:message-box; position: fixed;z-index:9999; left:70px; top:32px;" 
            class="alert hide col-md-2 col-md-offset-6" id="alert-box">
                <a id="coloseBox" href="#" class="close" aria-label="close"><i style="color:#FF0000;">&times;</i></a>
            </div>

            <div id="myDiv"></div>
            <div id="myTable" class="col-md-10 col-md-offset-1"></div>
            <div id="myPagination" class="col-md-10 col-md-offset-1"></div>

        </div>
    </div>
</div>