
<input type="button" value="Show Popup 1" onClick="fade('demoPopup1',true);">
<input type="button" value="Show Popup 2" onClick="fade('demoPopup2',true);">

<div id="demoPopup1" class="demoPopup">
  <div class="demoPopuptitle">Fade Popup 1</div>
  <div class="demoPopupbody">
    <p>Press close to fade out this popup</p>  
    <input type="button" value="Close" onClick="fade('demoPopup1',false);">
  </div>
</div>

 <div id="demoPopup2" class="demoPopup">
  <div class="demoPopuptitle">Fade Popup 2</div>
  <div class="demoPopupbody">
    <p>Press close to fade out this popup</p>  
    <input type="button" value="Close" onClick="fade('demoPopup2',false);">
  </div>
</div>

