<div class="container">
    <div class="row form-group">
        <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-8 col-lg-offset-2">
			<a href="#" onclick="moveImage()" class="pull-right btn btn-warning" style="margin-top: 8px">Send</a>
		</div>
		
		<div id="oDiv" style="position:absolute; left:150px; top:80px; width:137px; height: 121px"> 
		<img src="image/picture.gif"></div>
	</div>
</div>

<div class="chat-sidebar">
<div class="sidebar-name">
	<!-- Pass username and display name to register popup -->
	<a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');">
		<img width="30" height="30" src="images/user.png" />
		<span>Narayan Prusty</span>
	</a>
</div>
<div class="sidebar-name">
	<a href="javascript:register_popup('qnimate', 'QNimate');">
		<img width="30" height="30" src="images/user_gray.png" />
		<span>QNimate</span>
	</a>
</div>
<div class="sidebar-name">
	<a href="javascript:register_popup('qscutter', 'QScutter');">
		<img width="30" height="30" src="images/user_green.png" />
		<span>QScutter</span>
	</a>
</div>
<div class="sidebar-name">
	<a href="javascript:register_popup('qidea', 'QIdea');">
		<img width="30" height="30" src="images/user_suit.png" />
		<span>QIdea</span>
	</a>
</div>
<div class="sidebar-name">
	<a href="javascript:register_popup('qazy', 'QAzy');">
		<img width="30" height="30" src="images/user.png" />
		<span>QAzy</span>
	</a>
</div>
<div class="sidebar-name">
	<a href="javascript:register_popup('qblock', 'QBlock');">
		<img width="30" height="30" src="images/user_gray.png" />
		<span>QBlock</span>
	</a>
</div>
</div>