<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>ACHAT</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">product_id</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" placeholder="PRODUCT ID" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>  
  <div class="col-md-4">
  <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name_fr">PRODUCT NAME FR</label>  
  <div class="col-md-4">
  <input id="product_name_fr" name="product_name_fr" placeholder="PRODUCT NAME FR" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_price">PRODUCT PRICE</label>  
  <div class="col-md-4">
  <input id="product_price" name="product_price" placeholder="PRODUCT PRICE" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="quantity_purchased">QUANTITY PURCHASED</label>  
  <div class="col-md-4">
  <input id="quantity_purchased" name="quantity_purchased" placeholder="QUANTITY PURCHASED" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="payment_mode">PAYMENT MODE</label>  
  <div class="col-md-4">
  <input id="payment_mode" name="payment_mode" placeholder="PAYMENT MODE" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="purchase_date">PURCHASE DATE</label>  
  <div class="col-md-4">
  <input id="purchase_date" name="purchase_date" placeholder="PURCHASE DATE" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="remain_paid">REMAIN PAID</label>  
  <div class="col-md-4">
  <input id="remain_paid" name="remain_paid" placeholder="REMAIN PAID" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="maximal_date_paid">MAXIMAL DATE PAID</label>  
  <div class="col-md-4">
  <input id="maximal_date_paid" name="maximal_date_paid" placeholder="MAXIMAL DATE PAID" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="shipping_mode">SHIPPING MODE</label>  
  <div class="col-md-4">
  <input id="shipping_mode" name="shipping_mode" placeholder="SHIPPING MODE" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="shipping_price">SHIPPING PRICE</label>  
  <div class="col-md-4">
  <input id="shipping_price" name="shipping_price" placeholder="SHIPPING PRICE" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="delivery_date">DELIVERY DATE</label>  
  <div class="col-md-4">
  <input id="delivery_date" name="delivery_date" placeholder="DELIVERY DATE" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="added_by">ADDEAD BY</label>  
  <div class="col-md-4">
  <input id="added_by" name="added_by" placeholder="ADDEAD BY" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <button id="" name="" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
